<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Any 7 Result</title>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"/>
    </h:head>
    <h:body>
        <f:view locale="#{languageBean.localeCode}">
            <h:form id="Casino_App">
                <div>
                    <ui:insert name="header" >
                        <ui:include src="header.xhtml" />
                    </ui:insert>
                </div>

                <div>
                    <h3 style="text-align: center"><h:outputLabel value="#{bundle.any7Label}"/></h3>

                    <b:panelGrid colSpans="11,1" offset-xs="2">
                        <b:panel title="#{bundle.gameRulesLabel}" look="info">
                            <h:outputText value="#{bundle.any7Rule}" />
                        </b:panel>
                    </b:panelGrid>
                    <b:panelGrid colSpans="11,1">
                        <b:alert  severity="danger"><strong>#{bankroll.money != 0 ? bundle.any7Lose: bundle.gameOver}</strong></b:alert>
                    </b:panelGrid>
                    <b:panelGrid colSpans="2,4,6" style="margin: 0 20px 0 0;">
                        <h:outputText value="#{bundle.bankrollLabel}"/>
                        <b:inputText value="#{bankroll.money}" readonly="true">
                            <f:facet name="prepend">
                                <h:outputText value="$" />
                            </f:facet>
                        </b:inputText>
                        <h:message for="" style="color:red" />
                        <h:outputText value="#{bundle.betAmountLabel}"/>
                        <b:inputText value="#{bankroll.bet}" id="bet" required="true">
                            <f:facet name="prepend">
                                <h:outputText value="$" />
                            </f:facet>
                            <f:validateDoubleRange minimum="1" maximum="#{bankroll.money}"/>
                        </b:inputText>
                        <h:message for="bet" style="color:red" />
                        <h:outputText id="dieOne" value="#{bundle.dieOneLabel}" rendered="#{dice.die1 != 0}"/>
                        <b:icon name="die1" class="#{dice.classNameDieOne}" style="font-size: 40px;"/>
                        <h:message for="" style="color:red" />
                        <h:outputText value="#{bundle.dieTwoLabel}" rendered="#{dice.die2 != 0}"/>
                        <b:icon name="die1" class="#{dice.classNameDieTwo}" style="font-size: 40px;"/>
                        <h:message for="" style="color:red" />

                    </b:panelGrid>

                    <b:panelGrid colSpans="12">
                        <b:commandButton value="#{bundle.rollMessage}" style="margin-top: 20px;" action="#{theGames.any7}" col-sm="1" class="btn-primary"/>

                    </b:panelGrid>


                </div>


                <ui:insert name="footer" >
                    <ui:include src="footer.xhtml" />
                </ui:insert>

            </h:form>
        </f:view>
    </h:body>
</html>

