<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:body>
        <ui:composition>
            <b:navBar inverse="true">
                    <b:navbarLinks>
                        <b:navLink icon-awesome="diamond" value="Craps Casino" iconSpin="true" icon-size="lg" href="#"/>
                        
                        
                        
                    </b:navbarLinks>
                    
                </b:navBar>
            
           
            <h:selectOneMenu  value="#{languageBean.localeCode}" onchange="submit()"  
                             style="margin: 0 20px; float: right;"
                             valueChangeListener="#{languageBean.countryLocaleCodeChanged}">
                <f:selectItems value="#{languageBean.countriesInMap}" />
                

            </h:selectOneMenu>
           
        </ui:composition>
    </h:body>
</html>

