<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Casino App</title>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"/>
    </h:head>
    <h:body>
        <f:view locale="#{languageBean.localeCode}">
            <h:form id="Casino_App">


                <ui:insert name="header" >
                    <ui:include src="header_home.xhtml" />
                </ui:insert>




                <b:well style="margin-top: 100px;">
                    <h3 class="text-center"><p:outputLabel value="#{bundle.appTitle}" style="margin: 20px;" class="success" /></h3>

                    <b:panelGrid colSpans="2,4,6" style="margin: 20px 20px 20px 0;"  offset-xs="4">

                        <h:outputText value="#{bundle.bankrollLabel}"/>
                        <b:inputText id="bankroll" required="true" value="#{bankroll.money}" readonly="#{bankroll.money != 0}">
                            <f:facet name="prepend">
                                <h:outputText value="$" />
                            </f:facet>
                            <f:validateDoubleRange minimum="100" />
                        </b:inputText>
                        <h:message for="bankroll" style="color:red" />
                        <h:outputText value="#{bundle.betAmountLabel}"/>
                        <b:inputText value="#{bankroll.bet}" id="bet" required="true">
                            <f:facet name="prepend">
                                <h:outputText value="$" />
                            </f:facet>
                            <f:validateDoubleRange minimum="1" maximum="100"/>
                        </b:inputText>
                        <h:message for="bet" style="color:red" />
                    </b:panelGrid>

                    <h:panelGrid columns="3" style="margin: 0 auto">
                        <b:commandButton value="Pass Line" style="margin: 5px;" action="pass_line" style-class="btn-primary"/>
                        <b:commandButton value="Field Bet" style="margin: 5px;" action="field_bet" style-class="btn-primary"/>
                        <b:commandButton value="Any Seven" style="margin: 5px;" action="any7" style-class="btn-primary"/>

                    </h:panelGrid>


                </b:well>
                <ui:insert name="footer" >
                    <ui:include src="footer.xhtml" />
                </ui:insert>




            </h:form>

        </f:view>
    </h:body>
</html>

